<p>
<div id="wls-button-panel">
<a ui-sref="list"><button type="button" class="btn btn-primary">Stock List</button></a>
</div>
<div class="wls-stock-edit">
<form name = "stockEdit" novalidate>
	<!-- NAME -->
	<label for="name">Name:</label>&nbsp;<input id="name" type="text" name="name" ng-model="stock.name" ng-init="stock.name=currentStock.name"><p>
	<!-- TICKER -->
	<label for="ticker">Ticker:</label>&nbsp;<input id="ticker" type="text" name="ticker" ng-model="stock.ticker" ng-init="stock.ticker=currentStock.ticker"><p>
	<!-- YEAR 1 -->
	<label for="year1">Year 1:</label>&nbsp;<input id="year1" type="number" name="year1" ng-model="stock.year1" ng-init="stock.year1=currentStock.year1"><p>
	<!-- YEAR 2 -->
	<label for="year2">Year 2:</label>&nbsp;<input id="year2" type="number" name="year2" ng-model="stock.year2" ng-init="stock.year2=currentStock.year2"><p>
	<!-- YEAR 3 -->
	<label for="year3">Year 3:</label>&nbsp;<input id="year3" type="number" name="year3" ng-model="stock.year3" ng-init="stock.year3=currentStock.year3"><p>
	<!-- YEAR 4 -->
	<label for="year4">Year 4:</label>&nbsp;<input id="year4" type="number" name="year4" ng-model="stock.year4" ng-init="stock.year4=currentStock.year4"><p>
	<!-- YEAR 5 -->
	<label for="year5">Year 5:</label>&nbsp;<input id="year5" type="number" name="year5" ng-model="stock.year5" ng-init="stock.year5=currentStock.year5"><p>
	<p>
	<button type="button" class="btn btn-primary" ng-click="editStock(currentStock._id, stock )">Submit</button>
</form>
</div>